html {
    background-image: url(../img/pozadina.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
    margin-top: 150px;
    text-align: center;
    font-family: sans-serif;
    font-size: 60px;

}

span{
    font-size: 70px;
    font-family: Arial;
    color: #49c74f;
}

a{
    text-decoration: none;
    color:#ffffff;
}

.menu{
    margin-left: auto;
    margin-right: auto;
    background: cornflowerblue;
    width: 605px;
    height: auto;
    padding: 10px;
    border-radius: 25px;
    box-sizing: border-box;
    align-items: center;
}

.myButton {

    width: 290px;
    height: auto;
    background-color: #49c74f;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    border-radius:12px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:24px;
    padding:15px 76px;
    text-decoration:none;
    text-shadow:1px 1px 1px #2f6627;
}
.myButton:hover {
    background-color: #007cc7;
}
.myButton:active {
    position:relative;
    top:1px;
}

.myButton2 {
    margin-top: 10px;
    width: 585px;
    height: auto;
    background-color: #007cc7;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    border-radius:12px;
    border:1px solid #2900ab;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:24px;
    padding:15px 76px;
    text-decoration:none;
    text-shadow:1px 1px 1px #2f6627;
}
.myButton2:hover {
    background-color: #c7c305;
}
.myButton2:active {
    position:relative;
    top:1px;
}

.myButton3 {
    margin-top: 10px;
    width: 585px;
    height: auto;
    background-color: #007cc7;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    border-radius:12px;
    border:1px solid #2900ab;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:24px;
    padding:15px 76px;
    text-decoration:none;
    text-shadow:1px 1px 1px #2f6627;
}
.myButton3:hover {
    background-color: #bf4a48;
}
.myButton3:active {
    position:relative;
    top:1px;
}
