/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
/****-----start-body----****/
body{
	background: url(../images/bg-3.png);
	font-family: 'Open Sans', sans-serif;
}
.wrap{
	margin: 0 auto;
	width: 80%;
}
body a,form li,input[type="submit"],input[type="text"],.sixth-login input[type="submit"],.third-login input[type="submit"]{
	transition: 0.1s all;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-o-transition: 0.1s all;
}
.login-form {
	background: #fff;
	min-height: 370px;
	min-width: 400px;
	margin: 9% auto 4% auto;
	position: relative;
	box-shadow: inset 0px 0px 10px 0px #ABABAB,-1px 1px 17px 7px #0F0000;
	-webkit-box-shadow: inset 0px 0px 10px 0px #ABABAB,-1px 1px 17px 7px #0F0000;
	-moz-box-shadow: inset 0px 0px 10px 0px #ABABAB,-1px 1px 17px 7px #0F0000;
	-o-box-shadow: inset 0px 0px 10px 0px #ABABAB,-1px 1px 17px 7px #0F0000;
}
.head {
	background: url(../images/branded-colors.png) repeat;
	height: 12px;
	position: absolute;
	top: -2%;
	left: 0%;
	width: 100%;
	margin: 0 auto;
}
.head img {
	width: 100%;
}
.head-info h1 {
	padding: 5px;
	text-align: center;
	font-weight: 600;
	font-size: 2em;
	color: #fff;
	background: #2980b9;
}
.head-info h2 {
	text-align: center;
	font-size: 1em;
	color: #999;
	padding: 1em 0 1em 0;
}
form {
	padding: 0% 5% 0%;
}
.social-icons p {
	color: #5ca3d9;
	font-size: 1em;
	font-weight: 200;
}
.social-icons {
	padding: 0px 28px 0 28px;
}
a.account {
	float: left;
}
a.trouble {
	float: right;
}
a.social-account h3 {
	text-align: center;
	padding: 0em 0 1.5em 0;
	color: #CECECE;
}
form li{
	border: 1px solid #ebebeb;
	list-style: none;
	margin-bottom: 25px;
	width: 100%;
	background: none;
}
.icon{
	background:url(../images/icons.png)  no-repeat 0px 0px;
	height:16px;
	width:20px;
	display: block;
	float:left;
	margin: 18px 0px 0px 12px;
}
.user{
	background: url(../images/icons.png) no-repeat -4px -6px;
}
.mail{
	background: url(../images/icons.png) no-repeat -26px -6px;
}
.lock{
	background: url(../images/icons.png) no-repeat -49px -6px;
}
input[type="text"], input[type="password"] {
	width: 80%;
	padding: 1em 0em 1em 0.5em;
	color: #C9C9C9;
	font-size: 18px;
	outline: none;
	background: none;
	border: none;
	font-weight: 100;
}
input[type="submit"]{
	font-size: 30px;
	display: inline-block;
	font-weight: 100;
	color: #fff;
	transition: 0.1s all;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-o-transition: 0.1s all;
	cursor: pointer;
	outline: none;
	padding: 6px 6px;
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	border: none;
	background: #1abc9c;
	margin-bottom: 0.5em;
}
input[type="submit"]:hover {
	background: #2B7264;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
		transition: 0.1s all;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-o-transition: 0.1s all;
}
.but-bottom {
	margin-bottom: 0.8em;
}
ul.facebook {
	float: left;
	background: #578ee8;
	color: #fff;
	padding: 15px 40px;
}
ul.facebook:hover {
	background: #1E4078;
	border-bottom-right-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	transition: 0.1s all;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-o-transition: 0.1s all;
}
ul.facebook li {
	display: inline-block;
	vertical-align: middle;
}
ul.facebook li img {
	margin: 0px 18px 0 0;
	vertical-align: bottom;
}
ul.twitter {
	float: right;
	background: #5dc2e6;
	color: #fff;
	padding: 15px 46px;
}
ul.twitter:hover {
	background: #3396B9;
	border-radius: 25px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
		transition: 0.1s all;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-o-transition: 0.1s all;
}
ul.twitter li {
	display: inline-block;
	vertical-align: middle;
}
ul.twitter li img {
	margin: 0 18px 0 0;
	vertical-align: bottom;
}
ul.google-plus li {
	display: inline-block;
	vertical-align: middle;
}
ul.google-plus {
	float: left;
	background: #f45c37;
	color: #fff;
	padding: 15px 40px;
}
ul.google-plus:hover {
	background: #893B28;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	transition: 0.1s all;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-o-transition: 0.1s all;
}
ul.google-plus li img {
	margin: 0 18px 0 0;
	vertical-align: bottom;
}
ul.linkedIn li img {
	margin: 0 18px 0 0;
	vertical-align: bottom;
}
ul.linkedIn li {
	display: inline-block;
	vertical-align: middle;
}
ul.linkedIn {
	float: right;
	background: #0274b3;
	color: #fff;
	padding: 15px 40px;
}
ul.linkedIn:hover {
	background: #1B3F52;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
		transition: 0.1s all;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-o-transition: 0.1s all;
}
.social-icons-1 {
	margin-top: 1em;
	padding: 0 28px 0 28px;
}
/*--thank-you--*/
.thank-you {
	background: #fff;
	min-height: 300px;
	width: 30%;
	margin: 9% auto 4% auto;
	text-align: center;
	position: relative;
	box-shadow: inset 0px 0px 10px 0px #ABABAB,-1px 1px 17px 7px #0F0000;
	-webkit-box-shadow: inset 0px 0px 10px 0px #ABABAB,-1px 1px 17px 7px #0F0000;
	-moz-box-shadow: inset 0px 0px 10px 0px #ABABAB,-1px 1px 17px 7px #0F0000;
	-o-box-shadow: inset 0px 0px 10px 0px #ABABAB,-1px 1px 17px 7px #0F0000;
}
.thank-you h4 {
	background: #2980b9;
	color: #fff;
	padding: 0.91em 0;
}
.thank-you p {
	color: #7C7777;
	width: 82%;
	margin: 0 auto;
	padding: 1em 0 0em;
}
a.thank-you-button {
	border: none;
	outline: 0;
	color: #fff;
	background: #1abc9c;
	padding: 15px 90px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	font-size: 18px;
	font-weight: 100;
}
a.thank-you-button:hover {
	background: #2B7264;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
		transition: 0.1s all;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-o-transition: 0.1s all;
}
.thank-you h5 {
	margin: 0.5em 0 3em;
	color:#000;
}
/*--/thank-you--*/
/*--sign-in--*/
.login-form-1{
	background: #fff;
	min-height: 590px;
	width: 30%;
	margin: 9% auto 4% auto;
	position: relative;
	box-shadow: inset 0px 0px 10px 0px #ABABAB,-1px 1px 17px 7px #0F0000;
	-webkit-box-shadow: inset 0px 0px 10px 0px #ABABAB,-1px 1px 17px 7px #0F0000;
	-moz-box-shadow: inset 0px 0px 10px 0px #ABABAB,-1px 1px 17px 7px #0F0000;
	-o-box-shadow: inset 0px 0px 10px 0px #ABABAB,-1px 1px 17px 7px #0F0000;
}
/*--/sign-in--*/
/*--close--*/
.close{
	background: url('../images/close.png') no-repeat 0px 0px;
	cursor: pointer;
	width: 50px;
	height: 50px;
	position: absolute;
	right: 0px;
	top: 0px;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}
.close-1{
	background: url('../images/close.png') no-repeat 0px 0px;
	cursor: pointer;
	height: 50px;
	width: 50px;
	position: absolute;
	right: 0px;
	top: 0px;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}
.close-2{
	background: url('../images/close.png') no-repeat 0px 0px;
	cursor: pointer;
	height: 50px;
	width: 50px;
	position: absolute;
	right: 0px;
	top: 0px;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}
/*--/close--*/
/*--copyrights--*/
.copy-rights{
	text-align: center;
	margin-top: 15em;
}
.copy-rights p{
	color:#FFF;
	font-size: 1em;
	line-height:1.8em;
}
.copy-rights p a{
	color:#fff;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	text-decoration:none;
}
.copy-rights p a:hover{
	color:#1abc9c;
	text-decoration:none;
		transition: 0.1s all;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-o-transition: 0.1s all;
}
/*--/copyrights--*/
/*--start-responsive-design--*/
@media (max-width:1440px){
	.login-form {
		width: 33%;
	}
	.login-form-1 {
		width: 33%;
	}
	.head-info h1 {
		padding: 0.12em;
	}
	.thank-you p {
		width: 85%;
	}
	ul.google-plus {
		padding: 15px 42px;
	}
	.copy-rights {
	  margin: 4em 0 4em;
	}
}
@media (max-width:1280px){
	.login-form {
		width: 40%;
	}
	.login-form-1 {
		width: 40%;
	}
}
@media (max-width:1024px){
	.login-form {
		width: 46%;
	}
	.login-form-1 {
		width: 46%;
	}
	.thank-you {
		width: 46%;
	}
}
@media (max-width:768px){
	.login-form {
		width: 60%;
	}
	.login-form-1 {
		width: 60%;
	}
	.thank-you {
		width: 60%;
	}
}
@media (max-width:640px){
	.login-form {
		width: 75%;
	}
	.login-form-1 {
		width: 75%;
	}
	.thank-you {
		width: 75%;
	}
}
@media (max-width:480px){
	.head-info h1 {
		padding: 0.37em;
		font-size: 1.5em;
	}
	input[type="text"], input[type="password"] {
		font-size: 15px;
	}
	.icon {
		margin: 14px 0px 0px 12px;
	}
	input[type="submit"] {
		font-size: 22px;
	}
	.social-icons p {
		font-size: 12px;
	}
	a.social-account h3 {
		font-size: 14px;
	}
	ul.facebook li img {
		margin: 0px 8px 0 0;
	}
	ul.twitter li img {
		margin: 0px 8px 0 0;
	}
	ul.google-plus li img {
		margin: 0px 8px 0 0;
	}
	ul.linkedIn li img {
		margin: 0px 8px 0 0;
	}
	ul.facebook {
		padding: 15px 28px;
	}
	ul.twitter {
		padding: 15px 35px;
	}
	ul.google-plus {
		padding: 15px 30px;
	}
	ul.linkedIn {
		padding: 15px 30px;
	}
	.social-icons {
		padding: 0px 16px 0 16px;
	}
	.social-icons-1 {
		padding: 0px 16px 0 16px;
	}
	.login-form {
		min-height: 590px;
	}
	.login-form-1 {
		min-height: 520px;
	}
}
@media (max-width:320px){
	.login-form {
		width: 90%;
	}
	.thank-you {
		width: 90%;
		min-height: 260px;
	}
	.login-form-1 {
		width: 90%;
	}
	.head-info h2 {
		font-size: 13px;
	}
	.head-info h1 {
		padding: 0.37em;
		font-size: 1.5em;
	}
	form {
		padding: 0% 4% 0%;
	}
	form li {
		margin-bottom: 12px;
	}
	input[type="text"], input[type="password"] {
		font-size: 15px;
	}
	.icon {
		margin: 13px 0px 0px 2px;
	}
	input[type="submit"] {
		font-size: 22px;
	}
	.social-icons p {
		font-size: 10px;
	}
	a.social-account h3 {
		font-size: 14px;
	}
	ul.facebook li img {
		margin: 0px 8px 0 0;
	}
	ul.twitter li img {
		margin: 0px 8px 0 0;
	}
	ul.google-plus li img {
		margin: 0px 8px 0 0;
	}
	ul.linkedIn li img {
		margin: 0px 8px 0 0;
	}
	ul.facebook {
		padding: 12px 10px;
	}
	ul.twitter {
		padding: 12px 10px;
	}
	ul.google-plus {
		padding: 12px 10px;
	}
	ul.linkedIn {
		padding: 12px 10px;
	}
	.social-icons {
		padding: 0px 11px 0 11px;
	}
	.social-icons-1 {
		padding: 0px 11px 0 11px;
	}
	.login-form {
		min-height: 525px;
	}
	.login-form-1 {
		min-height: 465px;
	}
	.thank-you p {
		width: 98%;
		font-size: 13px;
	}
	.thank-you h5 {
		margin: 0.5em 0 2.1em;
	}
	.copy-rights {
	  margin: 2em 0 3em;
	}
}
/*--end-responsive-design--*/